<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sop.wmet.com.recycledoor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Plastic"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Paper"
            android:label="@string/title_activity_google"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Electronics"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Electrical"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".ComputerPeripherals"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".LandlinePhones"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Cellphones"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Desktops"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Printers"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Refrigerators"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Metal"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Wood"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".Tiles"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sop.wmet.com.recycledoor.MainActivity" />
        </activity>
    </application>

</manifest>